<form class="form-inline was-validated" [formGroup]="teamForm" (ngSubmit)="onFormSubmit()" novalidate>
  <div class="col-md-12">
    <div class="form-group row">
      <div class="col-md-4">
        <label for="example-text-input" class="col-form-label">Team name:</label>
        <input class="form-control is-valid" type="text" id="example-text-input" formControlName="teamName" required>
        <div class="invalid-feedback">
          <label *ngIf="teamName?.dirty && teamName?.errors?.['required']" >Team name required.</label>
        </div>
      </div>
    </div>

    <div formArrayName="employees">
      <div *ngFor="let emp of employees.controls; let i = index" >
        <div class="form-group row">
          <div class="col-md-4">
            <label for="emp" class="col-form-label">Employee {{i + 1}}:</label>
            <input class="form-control is-valid" type="text" id="emp" formControlName="empName" [formControlName]="i" required>
            <div class="invalid-feedback">
              <label *ngIf="employees?.errors?.['required']" class="error"> Employee required. </label>
              <label *ngIf="employees?.errors?.['maxlength']" class="error">
                Max number of Employee can be 5 only. </label>
            </div>
          </div>
          <div class="col-md-2">
            <label class="col-md-12 col-form-label">Delete</label>
            <button type="button" class="btn btn-danger" (click)="deleteEmployeeControl(i)">x</button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12 mt-2">
        <button type="button" class="btn btn-primary" type="submit">Submit</button>&nbsp;
        <button type="button" class="btn btn-secondary" (click)="addEmployeeControl()">Add</button>&nbsp;
        <button type="button" class="btn btn-danger" (click)="resetEmployees()">Reset</button>&nbsp;
        <button type="button" class="btn btn-info" (click)="clearEmployeeControls()">Clear</button>&nbsp;
        <button type="button" class="btn btn-warning" (click)="insertEmployeeControl()">Insert Employee at number 2</button>&nbsp;
        <button type="button" class="btn btn-light" (click)="patchEmployeeValue()">Patch Value</button>&nbsp;
        <button type="button" class="btn btn-dark" (click)="setEmployeeValue()">Create Default Employee List</button>&nbsp;
        <button type="button" class="btn btn-warning" (click)="setEmployeeControl()">Set Default Employee at number 3</button>
      </div>
    </div>
  </div>
</form>
