<div class="container">
  <br />
  <div class='card'>
    <div class='card-header'>
      {{title}} example
    </div>
    <div class="card-body">
      <!-- start -->
      <form class="row g-3 mt-3">
        <div class="row">
          <div class="col-auto">
            <label for="username" class="form-label">User Name</label>
            <input type="text" class="form-control" id="username" name="userName" [(ngModel)]="userName">
          </div>
          <div class="col-auto">
            <label for="pageNo" class="form-label">Page No</label>
            <input type="text" class="form-control" id="pageNo" name="pageNo" [(ngModel)]="pageNo">
          </div>
          <div class="col-auto">
            <label for="sortOn" class="form-label">Sort On</label>
            <input type="text" class="form-control" id="sortOn" name="sortOn" [(ngModel)]="sortOn">
          </div>
        </div>
        <div class="row">
          <div class="col-auto mt-2">
            <button type="submit" class="btn btn-primary mb-3" (click)="getRepos()">Get Repos</button>
          </div>
        </div>


      </form>
      <br>

      <div *ngIf="loading">loading...</div>

      <div *ngIf="errorMessage" class="alert alert-warning">
        <strong>Warning!</strong> {{errorMessage | json}}
      </div>
      <br>

      <div class="table-responsive">
        <table class='table'>
          <thead class="table-light">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>HTML Url</th>
              <th>description</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let repo of repos;">
              <td>{{repo.id}}</td>
              <td>{{repo.name}}</td>
              <td>{{repo.html_url}}</td>
              <td>{{repo.description}}</td>
            </tr>
          </tbody>
        </table>
      </div>


      <pre>{{repos | json}}</pre>

      <!-- end -->
    </div>
  </div>
</div>

<div class="container mb-3">
  <br />
  <div class='card'>
    <div class='card-header' #cardHeader>
      Explain
    </div>
    <div class="card-body">

      <a href="https://rxjs.dev/deprecations/subscribe-arguments">subscribe arguments</a>
    </div>
  </div>
</div>
