<div class="container">
  <br />
  <div class='card'>
    <div class='card-header' #cardHeader>
      Custom Attribute Directives example
    </div>
    <div class="card-body">
      <p customDefaultTheme> DefaultTheme Directive Demo</p>

      <h4 [customColor]="titleColor"> Color Directive Demo</h4>

      <div customCustomTheme> CustomTheme Directive Demo with Default Settings</div>

      <div customTheme custom_color="blue" custom_size="30px"> CustomTheme Directive Demo with Custom Settings</div>

      <p customDefaultColorOnEvent> defaultColorOnEvent Directive Demo</p>

      <div>
        <select [(ngModel)]="myColor">
          <option value='' selected disabled> Select Color </option>
          <option *ngFor="let color of colors" [value]="color">
            {{color}}
          </option>
        </select>
        <p [customDynamicColorOnEvent]="myColor" defaultValue="blue">
          dynamicColOnEvent Directive Demo</p>
      </div>

      <h2>Custom Structural Directives</h2>

      <h3>customIf Directive</h3>
      <div>
        <input type="radio" name="rad1" (click)="changeCondition(true)"> True
        <input type="radio" name="rad1" (click)="changeCondition(false)"> False
      </div>
      <br />
      <div *customIf="showCustomIf">
        <b>Hello World!</b>
      </div>
      <ng-template [customIf]="!showCustomIf">
        <div>
          <b>Not Available</b>
        </div>
      </ng-template>

      <h3>customLoop Directive</h3>
      <ul>
        <li *customLoop="3">
          angular tutorial
        </li>
      </ul>

      <h3>customDelay Directive</h3>
      <div>
        Show message after
        <input type="radio" name="rad2" (click)="showCustomDelay= true; delayInSec = 2000"> 2 Seconds
        <input type="radio" name="rad2" (click)="showCustomDelay= true; delayInSec = 5000"> 5 Seconds
        <input type="radio" name="rad2" (click)="showCustomDelay= true; delayInSec = 7000"> 7 Seconds
      </div>
      <br />
      <div *customIf="showCustomDelay">
        <div *customDelay="delayInSec">
          <b> Hello World! </b>
        </div>
      </div>

    </div>
  </div>
</div>
