<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Product List</h3>
      <table class='table'>
        <thead class="table-light">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products;">
            <td>{{product.productID}}</td>
            <td><a [routerLink]="['/product',product.productID]">{{product.name}} </a> </td>
            <td>{{product.price}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


