.progress-bar-container,
      .progress {
        height: 20px;
        background-color: aqua;;
      }

      .progress-bar-container {
        width: 100%;
        background-color: #ddd;
      }
